<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.OrderMapper" >

    <resultMap id="orderMap" type="order">
        <!--手动指定数据库中字段与实体类属性映射关系
            column 数据库字段
            property 实体类属性
        -->
        <id column="id" property="id"></id>
        <result column="ordertime" property="ordertime"></result>
        <result column="total" property="total"></result>
        <!--<result column="pid" property="user.id"/>
        <result column="username" property="user.username"/>
        <result column="birthday" property="user.birthday"/>-->
        <!--
            association可以封装一个实体类对象到实体类中某个属性中
            propertu:指当前实体属性名称（private User user）
            javaType：当前实体属性类型(User) 可以用别名
        -->
        <association property="user" javaType="user">
            <id column="ipd" property="id"/>
            <result column="username" property="username"/>
            <result column="password" property="password"/>
        </association>
    </resultMap>

    <select id="findAll" resultMap="orderMap">
        select a.id,a.ordertime,a.total,u.id as pid,u.username,u.password,u.birthday
        from orders a,user u
        where a.pid=u.id
    </select>


</mapper>